.menu--root-container {
    color: black;
    padding: 16px;
    font-size: 18px;
    user-select: none;
}

.menu--item {
    border-radius: 8px;
    padding: 12px 16px;
    cursor: pointer;
}

.menu--item.open {
    background: rgba(0,0,0,0.1);
}

.menu--item:not(.open):hover {
    background: rgba(0,0,0,0.1);
}

.menu--label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu--label.dropdown {
    /* Icon indicator?? */
}

.menu--dropdown {
    display: none;
    margin-top: 16px;
}

.menu--dropdown.open {
    display: block;
}

.menu--dropdown {

}