.menu--root-container {
    color: #51565f;
    padding: 0px;
    user-select: none;

    padding-left: 24px;
    padding-right: 4px;
}

.menu--item {
    display: block;
    overflow: hidden;
    border-radius: 8px;
    padding: 4px 0px 4px 4px;
    cursor: pointer;
}

.menu--root-container > li {
    padding-right: 16px;
}

.menu--root-container > .menu--item.open {
    background: white;
    height: 100%;
}

.menu--item.active > .menu--label {
    color: white;
}

.menu--item.active > .menu--label, .menu--item.active-child > .menu--label {
    font-weight: 700;
}

.menu--label {
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
    padding-right: 8px;
    border-radius: 4px;
    position: relative;
}

.menu--item.active > .menu--label {
    background: #53575e;
    padding-left: 6px;
}

.menu--label label {
    overflow: hidden;
    flex-wrap: nowrap;
    font-size: 16px;
    padding-left: 2px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    word-wrap: normal;
    text-align: left;
    cursor: pointer;
}

.menu--item-drag-handle {
    font-size: 12px;
    position: absolute;
    left: -16px;
    visibility: hidden;
    color: #222 !important;
}

.menu--label:hover {
    cursor: pointer !important;
}

.menu--label:hover > .menu--item-drag-handle {
    visibility: visible;
    cursor: grab !important;
}

.menu--dropdown-icon {
    z-index: 100;
}

.menu--dropdown {
    display: none;
}

.menu--dropdown.open {
    display: block;
}

.menu--dropdown > .menu--item:not(:first-child) {
    padding-top: 0px;
}